.App {
  font-size: large;
}

body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: slategrey;
  padding: 20px;
  margin: 0;
  justify-content: center;
  color: beige;
}

h1{
  text-shadow: 2px 2px 0px  #000, -2px -2px 0px  #000, 2px -2px 0px  #000, -2px 2px 0px  #000;

  color: pink;
  text-align: CENTER;
}

h2{
  text-shadow: 1px 1px 0px  white, -2px -2px 0px  #000, 2px -2px 0px  #000, -2px 2px 0px  #000;
  color: grey;
}

h3{
  color: white;
  text-align: center;
}
